<small>
Cache: &nbsp;
<icon>~UI/CacheCall</icon> <counter name="Data:Cache:Get:Call"/> Called&nbsp;
<icon>~UI/CacheHit</icon>  <counter name="Data:Cache:Get:Hit"/> OK &nbsp;
<icon>~UI/CacheMiss</icon> <counter name="Data:Cache:Get:Miss"/> Miss &nbsp;
&nbsp;|&nbsp;
<icon>~UI/Drive</icon>     <counter name="FS"/> HDD &nbsp;
<icon>~UI/Database</icon>  <counter name="SQL"/> SQL &nbsp;
<icon>~UI/HTTP</icon>      <counter name="HTTP"/> HTTP &nbsp;
&nbsp;|&nbsp;
<icon>~UI/Memory</icon>    <Memory/> Mb &nbsp;
<icon>~UI/Timer</icon>     <Timer/> msec &nbsp;
</small>