.twitter-typeahead
{
    width: 100%;
}

.tt-dropdown-menu
{
    width:                 100%;
    margin-top:            0;
    padding:               10px;
    background-color:      #ffffff;
    border:                1px solid #cccccc;
    -webkit-box-shadow:    0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow:       0 5px 10px rgba(0, 0, 0, .2);
    box-shadow:            0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion
{
    border-bottom: 1px solid #cccccc;
}