html
{
    background-color:#f7f7f7;
    background-image: url('/Images/Curl.jpg');
    background-position: right bottom;
    background-repeat: no-repeat;
    min-height: 100%;
}

.Container
{
    border: none;
    padding: 4px;
}

.Badge
{
    font-size: 0.9em;
    margin: 2px;
	padding: 4px;
    padding-right: 9px;
    padding-left: 9px;
    background-color: #EEE;
	border: 1px solid #CCC;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    width: 100px;
    text-align: center;
}

.Optional
{
    background-color:#99ff00;
    color: #003300;
}

.Required
{
    background-color:#ff3333;
    color: #330000;
}
