<div>
    &nbsp;
</div>
<div class="txtC">
    <span class="Tab">Страница 1</span>
    <span class="Tab">Страница 2</span>
    <span class="Tab">Страница 3</span>
    <span class="Tab">Страница 4</span>
</div>
<div id="Profile_Tab">
    <div class="column">

        <div class="portlet">
            <div class="Sidebar_Group portlet-header"><h5>Случайная музыка</h5></div>

            <div class="Tab_Block portlet-content line">
                <exec>/slice/Music/Show/Card/@Random</exec>
            </div>
        </div>

        <div class="portlet">
            <div class="Sidebar_Group portlet-header"><h5>Случайный город</h5></div>

            <div class="Tab_Block portlet-content line">
                <exec>/slice/Town/Show/Card/@Random</exec>
            </div>
        </div>

         <div class="portlet">
            <div class="Sidebar_Group portlet-header"><h5>Случайная компания</h5></div>

            <div class="Tab_Block portlet-content line">
                <exec>/slice/Company/Show/Card/@Random</exec>
            </div>
        </div>
    </div>

    <div class="column">

        <div class="portlet">
            <div class="Sidebar_Group portlet-header"><h5>Герой дня</h5></div>

            <div class="Tab_Block portlet-content line">
                <exec>/slice/Person/Show/Card/.Max=Rating:Overall</exec>
            </div>
        </div>

    </div>

    <div class="column">


        <div class="portlet">
            <div class="Sidebar_Group portlet-header">Виджет</div>

            <div class="Tab_Block portlet-content">
                Виджет 6
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
	$(function() {
		$(".column").sortable({
			connectWith: '.column'
		});

		$(".portlet").addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all")
			.find(".portlet-header")
				.addClass("ui-widget-header ui-corner-all")
				.prepend('<span class="ui-icon ui-icon-minusthick"></span>')
				.end()
			.find(".portlet-content");

		$(".portlet-header .ui-icon").click(function() {
			$(this).toggleClass("ui-icon-minusthick").toggleClass("ui-icon-plusthick");
			$(this).parents(".portlet:first").find(".portlet-content").toggle();
		});

		$(".column").disableSelection();
	});
</script>