<div class="Badge" style="position:fixed; bottom: 0px;">
    <img src="/Images/Icons/UI/Timer.png" height=16 width=16 class="Icon" /> $Time ms &nbsp;
    <img src="/Images/Icons/UI/Memory.png" height=16 width=16 class="Icon" /> $MemoryKb &nbsp;
    <img src="/Images/Icons/UI/Database.png" height=16 width=16 class="Icon"/> $SQL SQL queries &nbsp;
    <img src="/Images/Icons/UI/Network.png" height=16 width=16 class="Icon"/> $Network network requests &nbsp;
    <img src="/Images/Icons/UI/Drive.png" height=16 width=16 class="Icon"/> $FS HDD requests &nbsp;
    <img src="/Images/Icons/UI/CacheCall.png" height=16 width=16 class="Icon"/> Calls: $Calls &nbsp;
    <img src="/Images/Icons/UI/Anchor.png" height=16 width=16 class="Icon"/> Fired: $On &nbsp;
     Hooked: $Catched &nbsp;
    
</div>
