<div class="Badge" style="position:fixed; bottom: 0px;">
    <img src="/Images/Icons/UI/Timer.png" height=16 width=16 class="Icon" /> $Time ms &nbsp;
    <img src="/Images/Icons/UI/Memory.png" height=16 width=16 class="Icon" /> $MemoryKb &nbsp;
    <img src="/Images/Icons/UI/Database.png" height=16 width=16 class="Icon"/> $SQL SQL &nbsp;
    <img src="/Images/Icons/UI/Drive.png" height=16 width=16 class="Icon"/> $FS FS &nbsp;
    <img src="/Images/Icons/Console/Terminal.png" height=16 width=16 class="Icon"/> $CallsF
</div>
