.line {
	overflow: hidden;
	_overflow: visible;
	zoom:1;
	width:auto !important;
}
.unit{float:left;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.size1of6{width:16.66666%;}
.size2of6{width:33.33333%;}
.size4of6{width:66.66666%;}
.size5of6{width:83.33333%;}
.size1of8{width:12.5%;}
.size3of8{width:37.5%;}
.size5of8{width:62.5%;}
.size7of8{width:87.5%;}

.w10{width:10%;}
.w20{width:20%;}
.w30{width:30%;}
.w40{width:40%;}
.w50{width:50%;}
.w60{width:60%;}
.w70{width:70%;}
.w80{width:80%;}
.w90{width:90%;}
.w100{width:100%;}

.w15{width:15%;}
.w25{width:25%;}
.w35{width:35%;}
.w45{width:45%;}
.w55{width:55%;}
.w65{width:65%;}
.w75{width:75%;}
.w85{width:85%;}
.w95{width:95%;}
