@media print
{
    * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  hr.page-break
  {
      page-break-after: always;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: "";
  }
  abbr[title]:after {
    content: "";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after, a[href^="tel"]:after, a[href^="mailto"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  #reformal_tab
  {
      display: none;
  }

  @page  {
    margin: 1.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }

    body
    {
        font-size: 12pt;
        background: white;
    }

    /* hide */

    .hidden-print
    {
        display: none;
    }

    .visible-print
    {
        display: block !important;
    }

    nav
    {
        display: none;
    }
}