<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Codeine / <slot>Title</slot> </title>
    <media>~Reset.css</media>
    <media>~Base.css</media>
    <media>~UI.css</media>
    <media>~VXi.css</media>

    <media>~jQuery/Core.js</media>
    <media>~Codeine/Core.js</media>
    
    <place>CSS</place>
    <place>CSSRun</place>
</head>
<body>
    <exec>/slice/User/Cabinet</exec>
    <div class="Spaced w80">
        <h1><slot>Title</slot></h1>
        <content/>
    </div>

    <place>JS</place>
    <place>JSRun</place>
</body>
</html>