<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Codeine</title>
    
    <media>CSS::Base.css</media>
    <media>CSS::xDebug.css</media>
    <media>CSS::UI.css</media>
    <media>CSS::Codeine.css</media>
    <mediacss/>
</head>
<body>
    
    <div class="Spaced w80">
        <content/>
    </div>
    <mediajs/>
</body>
</html>
