<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Codeine / <slot>Title</slot> </title>

    <media>CSS::Reset.css</media>

    <media>CSS::Base.css</media>
    <media>CSS::UI.css</media>
    <media>CSS::VXi.css</media>

    <media>JS::Codeine/Core.js</media>
    
    <mediacss/>
    <place>CSSRun</place>
</head>
<body>
    <exec>/slice/User/Cabinet</exec>
    <div class="Spaced w80">
        <h1><slot>Title</slot></h1>
        <content/>
    </div>

    <mediajs/>
    <place>JSRun</place>
</body>
</html>