<small>
Cache: &nbsp;
<icon>UI/CacheCall</icon> <counter>Data:Cache:Get:Call</counter> Called&nbsp;
<icon>UI/CacheHit</icon>  <counter>Data:Cache:Get:Hit</counter> OK &nbsp;
<icon>UI/CacheMiss</icon> <counter>Data:Cache:Get:Miss</counter> Miss &nbsp;
&nbsp;|&nbsp;
<icon>UI/Drive</icon>     <counter>FS</counter> HDD &nbsp;
<icon>UI/Database</icon>  <counter>SQL</counter> SQL &nbsp;
<icon>UI/HTTP</icon>      <counter>HTTP</counter> HTTP &nbsp;
&nbsp;|&nbsp;
<icon>UI/Memory</icon>    <Memory/> Kb &nbsp;
<icon>UI/Timer</icon>     <Timer/> msec &nbsp;
</small>