.required-star
{
    color: red;
}

.center
{
    text-align: center;
}
.p
{
    margin-bottom: 1em;
}

.spaced
{
    margin: 1em;
}

.block, .block-bordered
{
    padding: 18px 10px;
    margin: 4px;
}

.block-bordered
{
    border: 1px solid #cccccc;
}

.pointer
{
    cursor: pointer;
}

.off
{
    opacity: 0.7;
}

.console
{
    font: 14px monospace;
    margin: auto;
    margin-top: 20px;
    padding: 4px 16px 4px 16px;
    background-color: white;
    color: black;
    width: 80% !important;
    white-space: pre;
    clear: both;
    border-radius: 6px;
}

.console th
{
    text-align: left;
}

.console td, .console tr
{
    padding: 10px;
    margin: 2px;
    border-bottom: thin solid;
}

tr.Good
{
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

tr.Info
{
    color: #295c75;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

tr.Debug
{
    opacity: 0.8;
}

tr.Warning
{
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
}

tr.Error, tr.Bad, tr.Apocalypse, tr.Critical, tr.Emergency
{
    color: darkred;
    background-color: #f2dede;
    border-color: #eed3d7;
}

tr.Important
{
    background-color: #333333;
    color: #ffffff;
}

tr.Important
{
    font-size: 24px;
}

.console tr:hover
{
    opacity: 1;
    background-color: #333333;
    color: white;
}

.age-restricted
{
    padding: 30px;
}

.age-restricted-level
{
    font-size: 48px;
    font-weight: bold;
    float: right;
}

.Status1, .Status0:hover, .Status-1:hover
{
    opacity: 1;
}

.Status0
{
    opacity: 0.5;
}

.Status-1
{
    opacity: 0.25;
}

.no-border, .no-border:hover
{
    border: none;
}

.topbar
{
    top: 0;
    left: 0;
    position: absolute;
}

.topbar li
{
    float: none;
}

.table thead
{
    background-color: #222121;
    background-image: -moz-linear-gradient(top, #272626, #1a1919);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#272626), to(#1a1919));
    background-image: -webkit-linear-gradient(top, #272626, #1a1919);
    background-image: -o-linear-gradient(top, #272626, #1a1919);
    background-image: linear-gradient(to bottom, #272626, #1a1919);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff272626', endColorstr='#ff1a1919', GradientType=0);
    border: 1px solid #000000;
    color: #ffffff;
}

.table thead th
{
    padding: 12px 10px;
}

.avatar
{
    border: 1px solid lightgray;
}