.required-star {
  color: rgb(255 0 0);
}

.console {
  font: 1rem monospace;
  margin: 20px auto auto;
  padding: 4px 16px;
  background-color: rgba(255 255 255);
  color: rgb(0 0 0);
  white-space: pre;
  clear: both;
  border-radius: 6px;
}

.console-inverse {
  font: 1rem monospace;
  margin: 20px auto auto;
  padding: 4px 16px;
  background-color: rgb(51 51 51);
  color: rgb(238 238 238);
  white-space: pre;
  clear: both;
  border-radius: 6px;
}

.nl {
  background-color: rgb(255 0 0);
  color: rgb(255 255 255);
}

td.indent-1 { padding-left: 1em; }
td.indent-2 { padding-left: 2em; }
td.indent-3 { padding-left: 3em; }
td.indent-4 { padding-left: 4em; }
td.indent-5 { padding-left: 5em; }
td.indent-6 { padding-left: 6em; }
td.indent-7 { padding-left: 7em; }
td.indent-8 { padding-left: 8em; }
td.indent-9 { padding-left: 9em; }
td.indent-10 { padding-left: 10em; }
td.indent-11 { padding-left: 11em; }
td.indent-12 { padding-left: 12em; }
td.indent-13 { padding-left: 13em; }
td.indent-14 { padding-left: 14em; }
td.indent-15 { padding-left: 15em; }

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  background-color: #f0f0f0;
}

em.highlight {
  background-color: #ff0 !important;
}
