.required-star
{
    color: red;
}

.console
{
    font: 14px monospace;
    margin: auto;
    margin-top: 20px;
    padding: 4px 16px 4px 16px;
    background-color: white;
    color: black;
    width: 80% !important;
    white-space: pre;
    clear: both;
    border-radius: 6px;
}

.console th
{
    text-align: center;
}

.console td, .console tr
{
    padding: 10px;
    margin: 2px;
    border-bottom: 1px gray solid;
}

tr.Good, td.Good
{
    color: #468847;
    background-color: #dff0d8;
}

tr.Info, td.Info
{
    color: #295c75;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

tr.Debug, td.Debug
{
    opacity: 0.8;
}

tr.Warning, td.Warning
{
    background-color: #fcf8e3;
}

tr.Error, tr.Bad, tr.Apocalypse, tr.Critical, tr.Emergency,
td.Error, td.Bad, td.Apocalypse, td.Critical, td.Emergency
{
    color: darkred;
    background-color: #f2dede;
}

tr.Important, td.Important
{
    background-color: #333333;
    color: #ffffff;
    font-size: 24px;
}

.console tr:hover, .console tr:hover td
{
    opacity: 1;
    background-color: #333333 !important;
    color: white;
}

.age-restricted
{
    padding: 30px;
}

.age-restricted-level
{
    font-size: 48px;
    font-weight: bold;
    float: right;
}

.no-border, .no-border:hover
{
    border: none;
}

.avatar
{
    border: 1px solid lightgray;
}

.nl
{
    background-color: red;
    color: white;
}

.no-border, .no-border:hover
{
    text-decoration: none;
}

.muted
{
    opacity: 0.5;
}

.muted:hover
{
    opacity: 1;
    transition: opacity 0.5s linear;
}