.codeine-log {
  font: 0.8rem monospace;
  margin: 20px auto auto;
  padding: 1rem 2rem;
  background-color: rgb(255 255 255);
  color: rgb(0 0 0);
  white-space: pre;
  clear: both;
  width: 95%;
  word-wrap: break-word;
}

.codeine-log strong {
  color: rgb(153 0 0);
}

.codeine-log pre {
  font: 1rem monospace;
}

.codeine-log thead {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.codeine-log tr {
  border-left: 12px solid rgb(68 68 68);
  border-bottom: 1px solid rgb(68 68 68);
  word-wrap: break-word;
}

.codeine-log td {
  padding: 10px;
  margin: 2px;
  vertical-align: top;
}

.codeine-log tr td:nth-child(1) {
  width: 5%;
}

.codeine-log tr td:nth-child(2) {
  width: 25%;
}

.codeine-log tr:hover {
  opacity: 1;
  background-color: rgb(51 51 51) !important;
  color: rgb(255 255 255) !important;
}

.codeine-log tr:nth-child(odd) {
  background-color: rgb(254 254 254);
}

.codeine-log tr:nth-child(even) {
  background-color: rgb(239 239 239);
}

.codeine-log tr td:nth-child(3) {
  width: 5%;
}

.codeine-log tr td:nth-child(4) {
  width: 65%;
}

.codeine-log tr.debug {
  color: rgb(85 85 85);
}

.codeine-log tr.info td {
  border-left: 4px solid rgb(204 204 204);
}

.codeine-log tr.notice td {
  border-left: 4px solid rgb(179 179 0);
}

.codeine-log tr.warning td {
  border-left: 4px solid rgb(255 128 0);
}

.codeine-log tr.error td {
  border-left: 4px solid rgb(204 0 0);
}

.codeine-log tr.critical td {
  border-left: 4px solid rgb(145 0 0);
}

.codeine-log tr.alert td {
  border-left: 4px solid rgb(86 0 0);
}

.codeine-log tr.emergency td {
  border-left: 4px solid rgb(27 0 0);
}
