Package: php-codeine
Version: 6.0-bergstein
Architecture: all
Maintainer: Dmitry Bergstein
Installed-Size: 472
Depends: php5 (>= 5.3)
Provides: codeine
Section: web
Homepage: http://breathless.github.com/Codeine
Description: Codeine is microcore functional framework on PHP
