@import url(http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic);

body {
    font-family: "Open Sans", "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
    padding: 2px;
    margin-top: 4px;
    margin-left: 0;
    margin-bottom: 0;
    letter-spacing: -0.5px;
    display: block;
    width: 100%
}

h1 {font-size: 3em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.3em;}
h6 {font-size: 1.1em;}

a {
    color: #8b0000;
    text-decoration: none;
    padding-bottom: 3px;
}

a:hover {
    color: darkred;
}

a:visited {
    color: #6b0000;
}