<div class="Block">
    <div class="Row line">
        <div class="unit size1of2"><strong><l>_Ticket:Device</l>:</strong> <l>_Ticket:Device:<k>Device</k></l></div>
        <div class="unit size1of2 txtR"><small><vxdate>{"D":<k>CreatedOn</k>,"F":"CoolDate"}</vxdate></small></div>
    </div>
    <div class="Row line">
        <div class="unit size4of5">
            <strong>Браузер:</strong> <k>UA</k>
        </div>
        <div class="unit size1of5 txtR">
            <small><k>IP</k></small>
        </div>
    </div>
    <owner>
        <div class="txtR">
            <span class="Action Button" action="blGet('/ajax/_Ticket/Delete/<name/>');"><icon>UI/Delete</icon> Закрыть сессию</span>
        </div>
    </owner>
</div>