<media>~jQuery/Plugins/ketchup.js</media>
<media>~jQuery/Plugins/ketchup.messages.js</media>
<media>~jQuery/Plugins/ketchup.validations.basic.js</media>
<media>~ketchup.css</media>

<form id="<id/>" action="<url/>" method="post" class="ajax" enctype="multipart/form-data">
    <div id="tabs">
          <div class="txtR"><tabs/></div>
          <div id="Profile_Tab" class="Tab_Block">
              <div class="Spaced">
                <content/>
              </div>
          </div>
    </div>
    <div class="txtR Spaced">
        <button type="submit" class="Button"> <icon>UI/Success</icon> <l>Form:Submit</l> </button>
    </div>
    <div class="Spaced">
        &nbsp;
    </div>
</form>

<jsrun>
    $(document).ready (function (){
        $('#<id/>').ketchup();
        $('.Form_Tab').click(function(){
            $('.Form_Tab_Pane').hide();
            $('.Form_Tab').removeClass('Tab_Active');
            $(this).addClass('Tab_Active');
            $('#D_'+$(this).attr('id')).show();
        });
        $('.Form_Tab:first').click();
    });
</jsrun>