    charset utf-8;
    index  index.php;

    merge_slashes on;
    server_tokens off;

    log_not_found on;

    error_log /var/log/nginx/codeine.error.log warn;
    access_log /var/log/nginx/$host.access.log codeine;
    error_page 502 503 504 /down.html;

    gzip on;
    gzip_comp_level 9;
    gzip_disable "msie6";
    gzip_min_length 1024;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript;
    gzip_vary on;
    client_max_body_size 16m;

    location /
    {
        try_files $uri /index.php?$uri&$args;
    }

    location /nginx_status
    {
          stub_status on;
          access_log   off;
          allow 127.0.0.1;
          deny all;
    }

    location ~ ^/cache/(.*)
    {
        alias /var/tmp/codeine/$host/cache/$1;
        access_log        off;
        expires           max;
    }

    location ~ index.php$
    {
        include fastcgi_params;

        set $no_cache 0;

        # Отключаем кеш для всех методов, кроме GET и HEAD

        if ($request_method !~ ^(GET|HEAD)$) {
            set $no_cache "1";
        }

        # В случае если клиент загружает контент на сайт (no_cache = 1), делаем так, чтобы отдаваемые ему данные не кешировались в течение двух секунд и он смог увидеть результат загрузки

        if ($no_cache = "1") {
            add_header Set-Cookie "_mcnc=1; Max-Age=60; Path=/";
            add_header X-Microcachable "0";
        }
        if ($http_cookie ~* "_mcnc") {
            set $no_cache "1";
        }

        # Включаем/отключаем кеш в зависимости от состояния переменной no_cache

        fastcgi_cache_bypass $no_cache $cookie_SSID;
        # fastcgi_no_cache $no_cache $cookie_SSID;

        fastcgi_cache_key "$request_method|$http_if_modified_since|$http_if_none_match|$host|$request_uri|$cookie_SSID|$cookie_Overlay";
        fastcgi_cache_valid 200 304 60m;
        fastcgi_cache_use_stale updating error timeout invalid_header http_500;
        fastcgi_ignore_headers Cache-Control Expires Set-Cookie;

        add_header X-Cache $upstream_cache_status;

        fastcgi_keep_conn on;

        fastcgi_param  Environment $Environment;
        fastcgi_pass   $Backend;
        fastcgi_index  index.php;

        fastcgi_param  DOCUMENT_ROOT    $document_root;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        fastcgi_param  PATH_TRANSLATED  $document_root$fastcgi_script_name;

        fastcgi_param  QUERY_STRING     $query_string;
        fastcgi_param  REQUEST_METHOD   $request_method;
        fastcgi_param  CONTENT_TYPE     $content_type;
        fastcgi_param  CONTENT_LENGTH   $content_length;

        fastcgi_intercept_errors        on;
        fastcgi_ignore_client_abort     on;
        fastcgi_connect_timeout 60;
        fastcgi_send_timeout 180;
        fastcgi_read_timeout 180;
        fastcgi_buffer_size 1m;
        fastcgi_buffers 4 1m;
        fastcgi_busy_buffers_size 1m;
        fastcgi_temp_file_write_size 1m;
    }

    location ~* \.(jpg|jpeg|gif|css|png|js|ico|woff|ttf|eot)$
    {
        try_files $uri $uri/ /index.php?$uri&$args;
        access_log        off;
        expires           max;
        log_not_found     off;
        add_header        Cache-Control  public;
    }