<div class="line">
        <div class="unit size3of4">
            <l>Rate:<app/>:<rater/></l>:
        </div>
        <div class="unit size1of4 txtC" id="Rater_<rater/>_<app/>_<id/>">
            <div class="line">
                <div class="unit size1of3 Action" action="Rate('<scope/>', '<name/>','<rater/>', 'Plus')"><icon>~Rater/Plus</icon></div>
                <div class="unit size1of3 txtC"><rate/></div>
                <div class="unit size1of3 Action" action="Rate('<scope/>', '<name/>','<rater/>', 'Minus')"><icon>~Rater/Minus</icon></div>
            </div>
        </div>
</div>