code {
  display: block;
  padding: 1em;
  margin: 1em 0;
}

.block {
  border: 1px solid #ccc;
  margin: 0.5em;
  padding: 1em;
}

.call-block {
  border-left: 4px solid #666;
  margin-bottom: 0.5em;
  padding: 1em;
}

.call-block-required-0 {
  opacity: 0.7;
}

.call-block-required-0:hover {
  opacity: 1;
}

.call-block-required-0-label {
  background-color: green;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
}

.call-block-required-1-label {
  color: #fff;
  background-color: #dc143c;
  padding: 4px 8px;
  border-radius: 4px;
}

.label-pure-0 {
  color: #fff;
  background-color: #dc143c;
  padding: 4px 8px;
  border-radius: 4px;
}

.label-pure-1 {
  background-color: green;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
}

img.icon {
  vertical-align: baseline;
  margin-bottom: -3px;
}
